/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
a {
    text-decoration: none;
    color: inherit; 
}
ol, ul {
	list-style: none;
}
nav img {
	height: 20px;
	width: 20px;
}
nav ul {
	gap: 20px;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

#filters {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    gap: 15px;
}

.filterBtn {
    font-family: "Syne";
    padding: 10px 20px;
    border: 1px solid #1D6154;
    border-radius: 25px;
    color: #1D6154;
    background-color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.5s ease;
}

.filterBtn--active {
    color: white;
    background-color: #1D6154;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;
}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

.footer-nav {
	font-size: 11px;
	color: #3D3D3D;
}

/* Login Page Styling */
.login {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80vh;
}

.login h2 {
	font-family: 'Syne', sans-serif;
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
	margin-bottom: 20px;
}

.login-form {
	display: flex;
	flex-direction: column;
	width: 35%;
}

.login-form label {
	margin: 3em 0 1em 0;
	font-weight: 700;
	font-size: 1em;
	color: #3D3D3D;
}

.login-form input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	text-align: center;
}

.login-form input[type="submit"] {
	font-family: "Syne", sans-serif;
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	border: 2px solid #1D6154;
	margin: 3em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	transition: all 0.5s ease;
}

.login-form input[type="submit"]:hover {
	color: #1D6154;
	background-color: white;
	transform: scale(1.05);
}

#login-button {
    font-family: "Syne", sans-serif;
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    border: 2px solid #1D6154;
    margin: 3em auto;
    width: 180px;
    height: 40px;
    text-align: center;
    border-radius: 60px;
    transition: all 0.5s ease;
    cursor: pointer;
}

#login-button:hover {
    color: #1D6154;
    background-color: white;
    transform: scale(1.05);
}

.forgot-password-link {
    color: #3D3D3D;
    font-family: 'Work Sans';
    font-weight: bold;
    text-decoration: underline;
}

/* Error Messages for Login */
.error-box, .email-error, .password-error {
	color: #B1663C;
	font-size: 0.9em;
	margin-top: 5px;
	text-align: left;
	width: 100%;
}
.topBar {
    background-color: #000000;
    width: 100%;
    margin: 0;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 2em;
    padding: 10px;
    font-family: 'Work Sans';
    font-size: 16px;
}

.topBar i, .editBtn i {
    margin-right: 0.5em;
}
.titleProjects {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}
.editText {
    font-size: 16px;
    font-weight: 400;
    color: black;
    cursor: pointer;
    margin-left: 20px;
    font-family: "Work Sans";
}


/* // MODALE */
.edit-modal {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
    opacity: 0;
    animation: fadeIn 0.3s ease-out forwards;
}

.modal-content {
    background-color: #fff;
    padding: 0px 100px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 430px;
    height: 688px;
    position: relative;
    animation: slideInFromRight 0.3s ease-out;
    overflow: hidden;
}

.modal-title {
    padding: 50px 0px;
    text-align: center;
    margin-top: 0;
    color: #000000;
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 26px;
}

.close-btn {
    position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer;
    font-size: 24px;
    color: #000000;
}

.gallery-items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    padding-bottom: 50px;
}

.gallery-item {
    position: relative;
    width: calc((100% - 4 * 10px) / 5);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-item img {
    width: 77px;
    padding: 10px 0px;
    height: 102px;
    object-fit: cover;
}

.delete-icon {
    position: absolute;
    top: 15px;
    right: 5px;
    background-color: black;
    width: 17px;
    height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    padding: 0;
}

.delete-icon i {
    font-size: 10px;
    color: white;
    line-height: 1;
    height: 9px;
    width: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-photo-btn {
    width: 237px;
    height: 36px;
    background-color: #1D6154;
    color: white;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    margin: 38px auto;
    display: block;
    font-family: "Syne";
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    transition: all 0.3s ease;
}

.button-disabled {
    opacity: 0.5;
    background-color: #A7A7A7 !important;
    cursor: not-allowed !important;
}

.separator {
    border: none;
    border-top: 1px solid #B3B3B3;
    margin: 20px 0;
}

.photo-div {
    height: 169px;
    width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E8F1F6;
    margin: 36px auto;
    position: relative;
}

.photo-div img {
    width: 129px;
    height: 169px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.photo-div i {
    font-size: 58px;
    color: #B9C5CC;
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
}

.photo-div.has-image i,
.photo-div.has-image .image,
.photo-div.has-image p {
    visibility: hidden;
}

.image {
    padding: 10px 33px;
    background-color: #CBD6DC;
    border-radius: 50px;
    color: #306685;
    font-family: 'Work Sans';
    font-size: 14px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.photo-div p {
    font-family: 'Work Sans';
    font-size: 10px;
    color: #444444;
    margin-top: 7px;
    position: relative;
    z-index: 1;
}

.form-group {
    width: 420px;
    margin: 0 auto 21px auto;
}

.form-group label {
    color: #3D3D3D;
    font-family: 'Work Sans';
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.form-group input,
.form-group select {
    width: 100%;
    height: 51px;
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    border: none;
    padding: 0 16px;
}

.modal-return {
    position: absolute;
    top: 50px;
    left: 20px;
    width: 21px;
    height: 21px;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}

.modal-return i {
    font-size: 21px;
    color: #000000;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideOutToRight {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}

.hide-content {
    animation: slideOutToRight 0.3s ease-in forwards;
}